.dashboard-left-area {
    width: 30% !important;
    
}
.dashboard-left-container {
    height: 100vh;
    padding-left: 5%;
    width: 30% !important;
    background: linear-gradient(110deg, rgba(248,193,54,0.5046393557422969) 0%, rgba(245,150,176,0.4990371148459384) 69%) !important;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh !important;
}

@media only screen and (max-width: 576px ) {
        .dashboard-left-container { display: none; }
        .dashboard-left-area { display:none;}
}

.dash-logo-area {
    margin-top: 40px !important;
    display: flex !important;
    align-items: center;
    margin-bottom: 100px;
}
.dash-logo-area img{
    width: 86px;
    height: 84px;
    margin-right: 24px;
}
.dash-logo-area 	.dash-logo-title  {
font-size: 40px;
color: #263238;
font-family: Inter;
font-weight: 800;
}