.dash-title {
    font-weight: 400;
    margin-bottom: 60px;
}
.dash-subtitle {
    margin-bottom: 60px;
    margin-bottom: 13px;
}
.dash-subtitle {
    margin-bottom: 30px;
    margin-top: 60px;  	
}
.dash-accout-link {
    margin-bottom: 30px;
}